.loading {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading p {
  display: flex;
  font-size: 42px;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.loading svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
}

.loading svg path {
  fill: black;
}
