.contact {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141516;
    position: relative;
    height: 100vh;
  }
  
  .contactBody {
    padding-top: 200px;
    width: 100%;
    max-width: 1800px;
    background-color: #141516;
  }
  
  .title {
    border-bottom: 1px solid rgb(134, 134, 134);
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
  }
  
  .title h2 {
    font-size: 3vw;
    margin-left: 1rem;
    font-weight: 300;
    color: #afa18f;
  }
  
  .title span {
    display: flex;
    align-items: center;
  }
  
  .imageContainer {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .imageContainer img {
    object-fit: cover;
  }
  
  
  .buttonContainer {
    position: absolute;
    left: calc(100% - 400px);
    top: calc(100% - 75px);
  }
  
  .button {
    width: 180px;
    height: 180px;
    background-color: #ec4e39;
    color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button p {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    z-index: 2;
    position: relative;
  }
  
  .button svg {
    position: absolute;
    top: 30%;
    left: 100%;
  }
  
  .nav {
    display: flex;
    gap: 10%;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .nav div {
    border: 1px solid #afa18f;
    padding: 20px;
    border-radius: 50px;
  }

    .nav a {
    text-decoration: none;
    color: inherit;
  }

  .info {
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
    padding: 20px;
    padding-right: 180px;
    /* align-content: end; */
  }
  
  .info div {
    display: flex;
    gap: 10px;
  }
  
  .info div p {
    margin: 0px;
    padding: 2.5px;
  }
  
  .info div h3 {
    margin: 0px;
    padding: 2.5px;
    text-align: right;
  }
  

  
  /* .info div p &::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: white;
    display: block;
    margin-top: 2px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s linear;
  }
  
  .info div p:hover:after {
    width: 100%;
  } */




  @media screen and (max-width: 767px){ 

    .contactBody {
      padding-top: 100px; 
    }
    
    .title {
      margin-left: 20px;
      margin-right: 20px;
      padding-bottom: 50px;
    }
    
    .title h2 {
      font-size: 5vw; 
    }
    
    .imageContainer {
      width: 100px;
      height: 100px;
    }
    
    .buttonContainer {
      left: calc(100% - 150px);
      top: calc(100% - 50px); 
    }
    
    .button {
      width: 100px; 
      height: 100px;
    }
    
    .button p {
      font-size: 12px; 
    }
    
    .nav {
      flex-direction: column;
      gap: 15px; 
      margin-left: 20px; 
      margin-right: 20px;
      justify-content: center;
      align-items: center; 
    }
  
    .nav div {
      width: 300px;
      text-align: center;
    }
    
    .info {
      margin-top: 100px; 
      padding: 10px; 
    }
    
   }


/* Media query for screens up to 480px wide */
@media (max-width: 480px) {
  .contactBody {
    padding-top: 100px; 
  }
  
  .title {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
  }
  
  .title h2 {
    font-size: 5vw; 
  }
  
  .imageContainer {
    width: 80px;
    height: 80px;
  }
  
  .buttonContainer {
    left: calc(100% - 150px);
    top: calc(100% - 50px); 
  }
  
  .button {
    width: 100px; 
    height: 100px;
  }
  
  .button p {
    font-size: 12px; 
  }
  
  .nav {
    flex-direction: column;
    gap: 15px; 
    margin-left: 20px; 
    margin-right: 20px; 
  }
  
  .info {
    margin-top: 100px; 
    padding: 10px; 
  }
}
