.about {
  height: 80vh;
  position: relative;
  margin-top: 20vh;
}

.mask {
    position: absolute;
    z-index: 2;
}

.desc {
    position: relative;
    z-index: 1;
}

.mask,
.desc {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  line-height: 60px;
  cursor: none;
  font-weight: 600;
}

.mask p {
    width: 1000px;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
  }

.desc p {
    width: 1000px;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.desc span {
    color: #ec4e39;
}

.mask {
  mask-image: url("../../../../public/images/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #ec4e39;
  position: absolute;
  color: black;
}

@media screen and (max-width: 480px) { 
  .about {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .mask, .desc {
    font-size: 20px;
  }
}