.projects {
  position: relative;
  color: white;
  /* margin-top: 25vh; */
  padding: 10%;
  display: flex;
  gap: 5%;
  /* height: 140vh; */
  /* z-index: 10; */
}

.projectDescription {
  display: flex;
  height: 600px;
  /* justify-content: space-evenly;
    gap: 5%; */
  flex-direction: column;
  width: 55%;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.imageContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  filter: sepia(20%);
}

.imageContainer span {
  position: absolute;
  z-index: 1000;
  right: -25px;
  top: -5px;
  background-color: transparent;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
}

.column {
  display: grid;
  /* height: 100%; */
  /* width: 40%; */
  width: 100%;
  font-size: 1.6vw;
  padding: 20px;
  gap: 5%;
  margin-bottom: 3vh;
}

.column a {
  text-decoration: none;
  color:#afa18f;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  width: 150px;
  margin: auto;
}

.column p {
  font-weight: 100;
}

.column span {
  margin-top: 1.5vh;
  border: 1px solid #afa18f;
  padding: 10px 15px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}


.column a:hover {
  text-decoration: underline;
}

.column:last-of-type {
  align-items: flex-end;
  font-size: 1vw;
}

.cta {
    display: flex;
    justify-content: space-evenly;
}

.projectList {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 200px;
  width: 40%;
  justify-content: flex-end;
  align-items: flex-end;
}

.projectEl {
  width: 100%;
  color: #afa18f;
  text-transform: uppercase;
  font-size: 1.6vw;
  border-bottom: 1px solid #afa18f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.projectEl h2 {
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.projectEl span {
  font-size: 10px;
}

.projectEl:hover > h2 {
  font-style: italic;
}
