* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(224,216,181);
  background: -moz-radial-gradient(circle, rgba(224,216,181,1) 0%, rgba(78,127,74,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(224,216,181,1) 0%, rgba(78,127,74,1) 0%, rgba(0,0,0,1) 100%);
  background: radial-gradient(circle, rgba(224,216,181,1) 0%, rgba(78,127,74,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0d8b5",endColorstr="#000000",GradientType=1);
}